$main-colour: #00D647;
$background-colour: #222;
$fore-colour: #FFF;
$half-transparent: #0000007C;

$main-colour-filter: invert(60%) sepia(40%) saturate(3678%) hue-rotate(98deg) brightness(99%) contrast(105%);

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Cascadia Code", Consolas;

    min-height: 100vh;

    margin: 0;

    color: $fore-colour;
    background-color: $background-colour;
}

input,
button {
    font-family: inherit;
    font-size: inherit;

    color: inherit;
    background-color: $half-transparent;

    border: 0.1rem solid $fore-colour;
    border-radius: 1rem;

    padding: 1rem;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

q {
    color: $main-colour;
}

q::before,
q::after {
    content: "";
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-left: 2ch;
    margin: 0;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: $half-transparent;
}

*:not(body)::-webkit-scrollbar-track {
    outline: 0.3rem solid $half-transparent;
    border-radius: 100rem;
}

::-webkit-scrollbar-thumb {
    background-color: $main-colour;

    border: 0.2rem solid $half-transparent;
    border-radius: 100vh;
}

@mixin break($direction, $thickness: 0.1rem, $padding: 2rem, $colour: $fore-colour) {
    border-#{$direction}: $thickness solid $colour;
    padding-#{$direction}: $padding;
}

.break-top {
    @include break(top);
}

.break-left {
    @include break(left);
}

.break-right {
    @include break(right);
}

.break-bottom {
    @include break(bottom);
}